@function rem($value) {
  @return #{$value / 16}rem;
}

.purchaseNew {
  width: 100vw;
  overflow: scroll;

  &__header {
    height: rem(108);

  }

  &__content {

    &__flex {
      height: rem(115);
      width: 100%;
      background: $mainBackground;

      .top {
        width: rem(960);
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
  
        &__left {
          height: rem(115);
          display: flex;
          align-items: center;
          position: relative;

          &__image {
            margin-top: rem(20);
          }

          &__text {
            color: white;
            margin-left: rem(50);
          }
        }

        &__right {

          &__link {
            display: inline-block;
            border: #c8c8c8 1px solid;
            border-radius: rem(30);
            text-decoration: none;
            color: gray;
            font-size: rem(14);
            background: #f8f8f8;
            width: rem(137);
            height: rem(34);
            text-align: center;
            line-height: rem(34);
            margin-top: rem(20);
            
            .text{
              color: $mainColor;
            }
          }
        }
      }
    }

    &__box{
      width: 80vw;
      height: 100%;
      margin: 0 auto;
      padding: rem(60) rem(96);

      .form{
        height: 100%;

        .item {
          height: rem(144);
          width: rem(960);
          margin: 0 auto;
          border: $mainBorder 1px solid;
          position: relative;

          &__image {
            height: rem(112);
            width: rem(112);
            position: absolute;
            top: 0;
            bottom: 0;
            left: rem(16);
            margin: auto;
          }

          &__title{
          display: inline-block;
          position: absolute;
          left: rem(144);
          top: rem(11.2);
          }

          &__info {
            position: relative;
            top: rem(16);
            right: rem(48);

            .price {
              position: absolute;
              right: 0;
              font-size: rem(24);
              font-weight: bold;
            }

            .fee {
              position: absolute;
              right: 0;
              top: rem(30);
              font-size: rem(12);
            }
          }
        }

        .userInfo {
          height: rem(272);
          width: rem(960);
          margin: 0 auto;
          display: flex;
          position: relative;

          &__icon {
            height: rem(32);
            width: rem(64);
            position: absolute;
            top: rem(16);
            right: rem(288);
          }

          &__left {
            height: rem(400);
            width: rem(560);
            border: $mainBorder 1px solid;
            margin-top: rem(32);
            display: flex;
            padding: rem(20);

            .title {
              width: rem(100);
              font-size: rem(14);
              color: $mainColor;
            }

            .detail {
              
              &__top {
                font-size: rem(14);
                margin-bottom: rem(15);
                color: $mainColor;

                  #order_last_name_receiver {
                    margin-left: rem(57);
                    width: rem(295);
                  }
                  #order_first_name_receiver {
                    margin-left: rem(57);
                    width: rem(295);
                  }
                  #order_last_name_kana_receiver {
                    margin-left: rem(43);
                    width: rem(295);
                  }
                  #order_first_name_kana_receiver {
                    margin-left: rem(43);
                    width: rem(295);
                  }
                  #order_tel_receiver {
                    margin-left: rem(15);
                    width: rem(295);
                  }
                  #order_zip_code_receiver {
                    margin-left: rem(15);
                    width: rem(295);
                  }
                  #order_prefecture_id{
                    margin-left: rem(15);
                  }
                  #order_address_receiver {
                    margin-left: rem(43);
                    width: rem(295);
                  }
              }

              &__btn {
                display: inline-block;
                width: rem(150);
                height: rem(32);
                font-size: rem(14);
                margin-top: rem(3);
                margin-bottom: rem(15);
                border: #c8c8c8 1px solid;
                border-radius: rem(5);
                color: $mainColor;
                background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%);
                text-align: center;
                line-height: rem(32);
              }

              &__bottom {
                font-size: rem(12);
                color: $mainColor;
              }
            }
          }

          &__right{
            height: rem(240);
            width: rem(352);
            margin-top: rem(32);
            margin-left: rem(48);

            .seller {
              height: rem(192);
              width: rem(352);
              border: $mainBorder 1px solid;  

              &__top {
                height: rem(80);
                border-bottom: $mainBorder 1px solid;
                
                .link {
                  display: block;
                  height: 100%;
                  position: relative;
                  display: flex;
                  align-items: center;

                  &__image {
                    height: rem(56);
                    width: rem(56);
                    margin-left: rem(8);
                    border-radius: 100%;
                  }

                  &__box {
                    margin-left: rem(20);

                    &__name {
                      display: inline-block;
                      color: black;
                      font-weight: bold;
                      font-size: rem(14);
                    }

                    &__comment {
                      color: #b5b5b5;
                      font-size: rem(12);

                    }
                  }

                  &__icon {
                    height: rem(18);
                    color: #b5b5b5;
                    font-size: rem(20);
                    opacity: 0.5;
                    margin-left: rem(78);

                  }
                }
              }

              &__evaluation {
                height: rem(48);
                border-bottom: $mainBorder 1px solid;

                .link{
                  height: 100%;
                  display: flex;
                  align-items: center;  
                  color: $mainColor;

                  &__box {
                    width: rem(160);
                    margin: 0 auto;

                    .count {
                      color: $mainColor;
                    }
                  }

                  &__icon {
                    color: #b5b5b5;
                    font-size: rem(20);
                    opacity: 0.5;
                    margin-right:rem(3.2);
                  }

                }
              }

              &__bottom {
                height: rem(64);
                padding: rem(14);
                color: $mainColor;
                font-size: rem(14);
                border-top: $mainBorder 1px solid;
              }
            }

            .text {
              font-size: rem(12);
              position: absolute;
              bottom: 0;
              color: $mainColor;
            }
          }
        }
        .commission{
          display: flex;
          justify-content: center;
          
          &__flex {
            display: flex;
            flex-direction: column;
            width: rem(352);
            background: #f8f8f8;
            border: $mainBorder 1px solid;
            padding: rem(20);
            margin-top: rem(10);
            margin-left: rem(608);

            &__title {
              font-size: rem(18);
              font-weight: bold;
              color: $mainColor;
            }

            &__box {
              display: flex;
              justify-content: space-between;
              margin-top: rem(20);
              font-size: rem(14);
              color: $mainColor;
            }
          }
        }
        .btn{
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: rem(100);
          width: rem(960);
          margin: 0 auto;
          .modify {
            display: block;
            width: rem(300);
            height: rem(45);
            background:$mainBackground;
            border: $mainBackground 1px solid ;
            border-radius: rem(5);
            color: #ffffff;
            font-size: rem(16);
            font-weight: bold;
            text-align: center;
            line-height: rem(45);
            cursor: pointer;
            outline: none;
          }
          .submit {
            display: block;
            width: rem(300);
            height: rem(45);
            background:$mainBackground;
            border: $mainBackground 1px solid ;
            border-radius: rem(5);
            color: #ffffff;
            font-size: rem(16);
            font-weight: bold;
            line-height: rem(45);
            text-align: center;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
}

