= render "shared/header"

.all
  .all__content
    .all__content__title
      商品削除
      .all__content__title__text
        削除が完了しました。
      %a.btn{:href => "/"} トップページに戻る。

= render "shared/footer"
= render "shared/purchase"