// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 最上段のヘッダー
.header{
  .header_inner{
    margin-left:13vw;
    margin-right:11vh;
    .header_above{
      display:flex;
      .logo{   
      }
    }
  }
}

.head_logo{
  width:200px;
  height:60px;
}  

.head_user_logo{
  width:40px;
  height:40px;
}

.points{
  margin-left:50px;
} 

.proceeds{
  margin-left:50px;
  margin-right:200px;
}

.sell_header_n{
  margin-right:40px;
  margin-top:30px;
}

.head_user_logo{
  margin-top:10px;
}

span{
  color:#2BCCD1;
}

// 水色の検索バー

.header_bottom{
  background-color: #2BCCD1;
  width:100vw;
  height:48px;
  margin-left:0px;
  display:flex;
  justify-content:center;
  p{
    color:white;
    margin-left:30px;
    margin-right:50px;
    font-weight:bold;
  }
  form{
    background-color:rgb(141, 237, 242);
    caret-color:white;
    
    input{
      background-color:rgb(141, 237, 242);
    }
    ::placeholder{
      color:white;
      // font-weight:bold;
      font-size: 1.5em;
    }
  }
  .search_container{
    box-sizing: border-box;
    position: relative;
    border:none;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 260px;
    overflow: hidden;
    margin-top:6px;
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
    margin-top:6px;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline :none;
  }
}

// スマホアプリ

.smart_app{
  background-color:#f5f5f5;
  display:flex;
  justify-content: center;
  .discription{

    ul{
      list-style: none;
      .title{
        color:#2BCCD1;
        font-size:28px;
        margin-bottom:18px;
      }
    }
    .store_logo{
      margin-left:38px;
      margin-top:30px;
    }
  }
}


.app_image_pic{
  width:354px;
  height:214px ;
  margin-top:15px;
}

// カテゴリー
.category{
  display:flex;
  position: relative;
  .left_box{
    margin-top:80px;
    margin-left:300px;
    
    .title{
      display:flex;
    }
    .category_images{
      display:flex;
      flex-wrap:wrap;
      width:90%;
      img{
        width:26%;
        margin:4px;
        .tops{
          width:190px;
          height:190px;
        }
      }
    }
  }
  .right_box{
    margin-top:80px;
    .appBanner{
      width:300px;
      height:150px;
      margin-right:80px;
      margin-top:40px;
    }
  }
}
// ニュース
.news{
  margin-top:70px;
  margin-left:250px;
}

// 機能紹介
.introduction{
  margin-top:100px;
  background-color:rgb(208, 253, 255);
  p{
    margin-top:30px;
    text-align:center;
    font-size:30px;
    color:#2BCCD1;
  }
  .introduction_sections{
    display:flex;
    justify-content: center;
    .introduction_section{
      .introduction_image{
        width:300px;
        height:500px;
      }

    }
  }
}


// フッターa
.footer{
  ul{
    display:flex;
    justify-content: center;
    li{
      list-style: none;
      margin-right:30px;
      margin-left:30px;
      color:#646066;
    }
  }
  .copyRight{
    text-align: center;
    color:#646066;
  }
}