.passwordMain {
  width:100vw;
  height:100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  .password1{
    height: 60vh;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    &__box {
      display: inline-block;
      background-color: white;
      width: 50%;
      border-radius: 20px;
      h2{
        padding-top:10vh;
        text-align:center;
        font-weight: bold;
        color:grey;
        font-size: 30px;
        text-decoration: underline solid rgb(75, 183, 226);
      }
      form{
        margin-top: 100px;
        text-align:center;
        .email{
          color:grey;
          text-align:center;
          font-size: 18px;
          input#user_email{
            width:250px;
            margin-bottom:15px;
          }
        }
        .actions{
  
          margin-top:100px;
          text-align: center;
          input{
            width:200px;
            height:30px;
            background-color: white;
            font-size: 15px;
            font-weight: bold;
            border-radius: 5px;
          }
        }
      }
      .bottom{
        display: flex;
        justify-content: space-between;
        margin: 50px 150px 0 150px;
        a{
          color:grey;
          font-weight:bold;
          font-size: 18px;
          text-decoration: underline solid rgb(75, 183, 226);
        }
      }
    }
  }
}
