body{
  width:60vw;
  background-color:lightblue;
  margin-left:20vw;
}
h2{
  width:60vw;

  text-align:center;
  font-weight: bold;
  color:grey;
  font-size: 25px;
  background-color:lightblue;
}

form{
  width:60vw;
  height:200px;
  background-color:lightblue;
}

.email{
  color:grey;
  text-align:center;
  input#user_email{
    width:250px;
    margin-bottom:15px;
  }
}

.actions{
  margin-top:15px;
  text-align: center;
  input{
    width:200px;
    height:30px;
    background-color: #3CCACD;
    font-size: 15px;
    border-radius: 5px;
  }
}

a{

  margin-left:25vw;
  color:grey;
}