.registrationsNew{
  width:60vw;
  height:100%;
  margin-left:20vw;
  background-color:lightblue;
  h2{
    margin-bottom:20px;
    text-align:center;
    font-weight: bold;
    color:grey;
    font-size: 25px;
  }
  form{
    .request{
      color:red;
      margin-bottom:20px;
      margin-left:5vw;
    }
    .nickname{
      margin-left:5vw;
      color:grey;
      input#user_nickname{
        width:250px;
        margin-bottom:15px;
      }  
    }
    .email{
      margin-left:5vw;
      color:grey;
      input#user_email{
        width:250px;
        margin-bottom:15px;
      }
    }
    .password{
      margin-left:5vw;
      color:grey;
      input#user_password{
        width:250px;
        margin-bottom:15px;
      }
    }
    .passwordConfirm{
      margin-left:5vw;
      color:grey;
      input#user_password_confirmation{
        width:250px;
        margin-bottom:15px;
      }
    }
    .lastName{
      margin-left:5vw;
      color:grey;
      input#user_last_name{
        width:125px;
        margin-bottom:15px;
      }
    }
    .firstName{
      color:grey;
      input#user_first_name{
        width:125px;
        margin-bottom:15px;
      }
    }
    .lastNameKana{
      margin-left:5vw;
      color:grey;
      input#user_last_name_kana{
        width:125px;
        margin-bottom:15px;
      }
    }
    .firstNameKana{
      color:grey;
      input#user_first_name_kana{
        width:125px;
        margin-bottom:15px;
      }
    }
    .tel{
      margin-left:5vw;
      color:grey;
      input#user_tel{
        margin-bottom:15px;
      }
    }
    .zipCode{
      margin-left:5vw;
      color:grey;
      input#user_zip_code{
        margin-bottom:15px;
      }
    }
    .prefecture{
      margin-left:5vw;
      color:grey;
      select#user_prefecture_id{
        width:100px;
        height:30px;
        margin-bottom:15px;
      }
    }
    .address{
      margin-left:5vw;
      color:grey;
      input#user_address{
        margin-bottom:15px;
      }
    }
    .birth{
      margin-left:5vw;
      color:grey;
    }
    .birthYear{
      margin-bottom:15px;
      color:grey;
      input#user_birth_year{
        width:80px;
        margin-right:0vw
      }
    }
    .birthMonth{
      margin-bottom:15px;
      color:grey;
      input#user_birth_month{
        margin-right:0vw
      }
    }
    .birthDay{
      margin-bottom:15px;
      color:grey;
      input#user_birth_day{

      }
    }
    .actions{
      margin-top:15px;
      text-align: center;
      input{
        width:100px;
        height:30px;
        background-color: #3CCACD;
        font-size: 15px;
        border-radius: 5px;
      }
    }
  }
}
