.sessions{
  width:100vw;
  height:100vh;
  background-color:lightblue;
  h2{
    padding-top:10vh;
    margin-bottom:20px;
    text-align:center;
    font-weight: bold;
    color:grey;
    font-size: 25px;
  }
  form{
    text-align:center;
    .email{
      color:grey;
      #user_email{
        
      }
      input#user_email{
        width:250px;
        margin-bottom:15px;
        margin-left:200px;
      }
    }
    .password{
      color:grey;
      #user_password{
      }
      input#user_password{
        width:250px;
        margin-bottom:15px;
        margin-left:230px;
      }
    }
    .userRememberMe{
      margin-left:240px;
      #user_remember_me{
        margin-left:200px;
      }
      label{
        color:grey;
      }
    }
    .actions{
      margin-top:15px;
      text-align: center;
      input{
        width:100px;
        height:30px;
        background-color: #3CCACD;
        font-size: 15px;
        border-radius: 5px;
      }
    }
  }
  a{
    margin-left:40vw;
    color:grey;
  }
}